/* Reset */
/* Scrollbar */
/* width */
/* Track */
/* Handle */
/* Handle on hover */
/* Navbar */
/**********Navbar************/
/* Navigation Slider */
/* End of Navigation Slider */
/* those make the footer sticky and work even in IE 11 */
/************Navbar Custom****************/
/*************HomeContainer*************/
/********************Tutorial Section*********************/
/* Start of Footer */
/* End of Footer */
html {
  font-family: 'Nunito Sans', sans-serif !important;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  font-family: 'Nunito Sans', sans-serif !important;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
div {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
span {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
applet {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
object {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
iframe {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h1 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h2 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h3 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h4 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h5 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
h6 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
p {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
blockquote {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
pre {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
a {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
abbr {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
acronym {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
address {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
big {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
cite {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
code {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
del {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
dfn {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
em {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
img {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
kbd {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
q {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
s {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
samp {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
small {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
strike {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
strong {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
sub {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
sup {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
tt {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
var {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
b {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
u {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
i {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
center {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
dl {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
dt {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
dd {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ol {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ul {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
li {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
fieldset {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
form {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
label {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
legend {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
table {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
caption {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
tbody {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
tfoot {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
thead {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
tr {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
th {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
td {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
aside {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
canvas {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
details {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
embed {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
figcaption {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
footer {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
header {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
hgroup {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
menu {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
nav {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
output {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ruby {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
section {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
summary {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
time {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
mark {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
audio {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-corner {
  border: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.fixedHeaderContainer {
  background: #060a08;
  color: #fff;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transform: translate3d(0, 0, 0);
  background-color: #333;
  padding: 9px 20px;
}
.fixedHeaderContainer a {
  align-items: center;
  border: 0;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 34px;
  z-index: 10000;
  text-decoration: none;
}
.fixedHeaderContainer a:hover {
  text-decoration: none;
  color: inherit;
}
.fixedHeaderContainer header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  text-align: left;
}
.fixedHeaderContainer header img {
  height: 100%;
  margin-right: 10px;
}
.fixedHeaderContainer header .headerTitle {
  font-size: 1.25em;
  margin: 0;
}
.fixedHeaderContainer header .headerTitleWithLogo {
  display: block;
  font-size: 25px;
  font-weight: 300;
  line-height: 18px;
  margin: 0;
  position: relative;
  z-index: 9999;
  text-transform: uppercase;
  font-family: 'Gruppo', cursive;
}
.fixedHeaderContainer header h3 {
  color: white;
  font-size: 16px;
  margin: 0;
  margin-left: 10px;
  text-decoration: underline;
}
.wrapper {
  margin: 0px auto;
}
.navigationSlider .navSlideout {
  cursor: pointer;
  padding-top: 4px;
  position: absolute;
  right: 10px;
  top: 0;
  transition: top 0.3s;
  z-index: 101;
}
.navigationSlider .slidingNav {
  bottom: auto;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.navigationSlider .slidingNav ul {
  background: #3d5a80;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 50px;
  padding: 0;
  width: 100%;
}
.navigationSlider .slidingNav ul li {
  flex: 1 1 auto;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}
.navigationSlider .slidingNav ul li a {
  align-items: center;
  box-sizing: border-box;
  color: #2E8555;
  color: inherit;
  display: flex;
  font-size: 0.9em;
  height: auto;
  height: 50px;
  justify-content: center;
  margin: 0;
  padding: 10px;
  transition: background-color 0.3s;
}
.navigationSlider .slidingNav ul li a:focus {
  background: #2E8555;
  background-color: #777;
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
}
.navigationSlider .slidingNav ul li a:hover {
  background: #2E8555;
  background-color: #777;
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
}
.navigationSlider .slidingNav ul li.siteNavItemActive a {
  background: #2E8555;
  background-color: #777;
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
}
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: #2E8555;
  background-color: #777;
  border-radius: 3px;
  box-shadow: 0 0 5px #333;
}
.navigationSlider .slidingNav.slidingNavActive {
  height: auto;
  padding-top: 42px;
  width: 300px;
}
.navigationSlider .slidingNav.slidingNavActive ul {
  display: block;
}
.navPusher {
  left: 0;
  min-height: 100%;
  padding-top: 100px;
  position: relative;
  z-index: 99;
}
.navPusher:after {
  background: rgba(0, 0, 0, 0.4);
  content: '';
  height: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  width: 0;
}
.singleRowMobileNav.navPusher {
  padding-top: 50px;
}
.sliderActive .navPusher:after {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  width: 100%;
  z-index: 100;
}
.toc .toggleNav .navGroup .navGroupCategoryTitle {
  font-size: 16px;
  font-weight: 600;
}
.mainContainer {
  padding: 50px 50px;
  padding-top: 100px;
}
.mainContainer .wrapper .post {
  position: relative;
}
.mainContainer .wrapper .post .postHeader {
  margin-bottom: 16px;
}
.mainContainer .wrapper .post .postHeaderTitle {
  margin-top: 0;
  padding: 0;
}
.mainContainer .wrapper .post.basicPost {
  margin-top: 30px;
}
.tutorial-contribute {
  cursor: pointer;
  color: #363835;
  top: 5px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: cubic-bezier();
  transition-duration: .3s;
}
.tutorial-contribute:hover {
  color: #302f2f;
  background-color: #f7f7f7;
  text-decoration: none;
}
.tutorialBoxIN {
  max-width: 1100px;
  padding: 25px 24px;
  margin: 35px 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tutorialHeading {
  font-size: 22px;
  font-weight: 600;
}
.tutorialLink {
  font-size: 20px;
  color: #333;
  font-weight: 600;
}
.tutorialLink:hover {
  text-decoration: none;
  color: #333;
}
.tutorialDesc {
  font-size: 14px;
  padding-bottom: 10px;
}
.tutorialDetails {
  font-size: 13px;
  font-weight: 400;
}
.tutorialDetailsName {
  font-weight: 500;
}
.tutorialDetailsDate {
  font-weight: 400;
}
.choiceList {
  padding: 4px 8px;
  margin: 0px 5px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 5px;
}
.nav-footer {
  background: #20232a;
  border: none;
  color: #202020;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
}
.nav-footer .sitemap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3em;
  max-width: 1080px;
  width: 80%;
}
.nav-footer .sitemap div {
  flex: 1;
}
.nav-footer .sitemap .nav-home {
  display: table;
  height: 72px;
  margin: -12px 20px 0 0;
  opacity: 0.4;
  padding: 10px;
  transition: opacity 0.15s ease-in-out;
  width: 72px;
}
.nav-footer .sitemap .nav-home:hover {
  opacity: 1;
}
.nav-footer .sitemap .nav-home:focus {
  opacity: 1;
}
.nav-footer .sitemap a {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin: 2px -10px;
  padding: 3px 10px;
}
.nav-footer .sitemap a:hover {
  color: white;
  text-decoration: none;
}
.nav-footer .sitemap a:focus {
  color: white;
  text-decoration: none;
}
.nav-footer .sitemap h5 {
  margin: 0 0 10px;
  color: white;
}
.nav-footer .sitemap h5 > a {
  color: white;
  margin: 0 -10px;
}
.nav-footer .sitemap h5 > a:hover {
  color: white;
  text-decoration: none;
}
.nav-footer .sitemap h5 > a:focus {
  color: white;
  text-decoration: none;
}
.nav-footer .sitemap h6 {
  margin: 0 0 10px;
  color: white;
}
.nav-footer .sitemap h6 > a {
  color: white;
  margin: 0 -10px;
}
.nav-footer .fbOpenSource {
  display: block;
  margin: 1em auto;
  opacity: 0.4;
  transition: opacity 0.15s ease-in-out;
  width: 170px;
}
.nav-footer .fbOpenSource:hover {
  opacity: 1;
}
.nav-footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
.nav-footer .social {
  padding: 5px 0;
}
.wrapper-support {
  padding: 0 2rem;
}
.supportLinks {
  margin: 0 auto;
  display: flex;
}
.supportLinks-container {
  display: flex;
  width: 100%;
}
.supportLinks-box {
  flex: 1 1 auto;
  padding-top: 1rem;
  background-color: #f1f1f1;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.supportLinks-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.supportLinks-box-link {
  color: inherit;
}
.supportLinks-box-img {
  text-align: center;
  margin: 0 auto;
}
.supportLinks-box-heading {
  padding-top: 8px;
  font-size: 14px;
}
.supportLinks-gitter-pic {
  height: 16px;
  fill: #e7e6e6;
}
.supportLinks-stackoverflow-pic {
  height: 16px;
  fill: #e7e6e6;
}
.supportLinks-github-pic {
  height: 16px;
  fill: #e7e6e6;
}
.supportLinks-reddit-pic {
  height: 16px;
  fill: #e7e6e6;
}
.supportLinks-telegram-pic {
  height: 50px;
  fill: #e7e6e6;
}
.tutorialTag {
  width: 16px;
}
.authorListfilter {
  display: inline-block !important;
  max-width: 200px;
  font-size: 13px !important;
  padding: 7px !important;
}
.authorListfilterHeading {
  font-size: 16px !important;
}
.contentTypefilterHeading {
  font-size: 16px !important;
}
.contentTypefilter {
  display: inline-block !important;
  max-width: 200px;
  font-size: 13px !important;
  padding: 7px !important;
}
.form-control:focus {
  border-color: #495057 !important;
  box-shadow: none !important;
}
.filtervalue {
  font-size: 16px !important;
}
#paginate {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: auto;
}
.page_number {
  font-size: 15px;
  background-color: #20232a;
  color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
}
#count {
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  .fixedHeaderContainer {
    flex-shrink: 0;
  }
  .nav-footer {
    flex-shrink: 0;
  }
}
@media (max-width: 480px) {
  .headerTitle {
    font-size: 17px;
  }
  .headerTitleWithLogo {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .navPusher {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: calc(50vh);
    padding-top: 50px;
    /*
        > {
            &:first-child {
                flex-grow: 1;
            }
        }*/
  }
}
@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper input#search_input_react {
    background-color: rgba(242, 196, 178, 0.25);
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    color: #393939;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    padding-left: 38px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), width 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.2s ease;
    width: 100%;
  }
  .reactNavSearchWrapper input#search_input_react:focus {
    background-color: #2E8555;
    color: #fff;
  }
  .reactNavSearchWrapper input#search_input_react:active {
    background-color: #2E8555;
    color: #fff;
  }
  .reactNavSearchWrapper .algolia-docsearch-suggestion--subcategory-inline {
    display: none;
  }
  .reactNavSearchWrapper > span {
    width: 100%;
  }
  .reactNavSearchWrapper .aa-dropdown-menu {
    font-size: 12px;
    line-height: 2em;
    padding: 0;
    border-width: 1px;
    min-width: 500px;
  }
  .reactNavSearchWrapper .algolia-docsearch-suggestion__secondary {
    border-top: none;
  }
  .aa-suggestions {
    min-height: 140px;
    max-height: 60vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  #languages-dropdown {
    left: 0px;
    top: 50px;
  }
  #languages-dropdown-items {
    background-color: #2E8555;
    display: flex;
    flex-direction: row;
  }
  .mainContainer {
    padding-top: 100px;
  }
  .tutorialHeader {
    padding: 20px 0;
  }
}
@media only screen and (min-width: 360px) {
  .navSearchWrapper {
    padding-left: 10px;
    position: relative;
    right: auto;
    top: auto;
  }
  .navSearchWrapper .algolia-autocomplete {
    display: block;
  }
  .reactNavSearchWrapper input#search_input_react {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
  }
  .navigationSlider {
    height: 34px;
    margin-left: auto;
    position: relative;
  }
  .navigationSlider .navSlideout {
    display: none;
  }
  .navigationSlider nav.slidingNav {
    background: none;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }
  .navigationSlider .slidingNav ul {
    background: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    width: auto;
  }
  .navigationSlider .slidingNav ul li a {
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 16px;
    font-weight: 300;
    height: 32px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    padding: 6px 10px;
  }
  .navigationSlider .slidingNav ul li a:hover {
    color: #fff;
  }
  .navigationSlider .slidingNav ul li.siteNavItemActive a {
    color: #fff;
  }
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: #fff;
  }
}
@media only screen and (max-width: 600px) {
  .navigationSlider .slidingNav ul {
    overflow-x: auto;
  }
  .navigationSlider .slidingNav ul::-webkit-scrollbar {
    display: none;
  }
  .reactNavSearchWrapper .aa-dropdown-menu {
    min-width: 400px;
  }
}
@media only screen and (max-width: 475px) {
  .reactNavSearchWrapper .aa-dropdown-menu {
    min-width: 300px;
  }
}
@media only screen and (max-width: 735px) {
  .nav-footer .sitemap {
    display: flex;
    flex-direction: column;
    margin: 0 2em 3em;
  }
  .nav-footer .sitemap > div {
    margin-bottom: 18px;
  }
}
